* {
  margin: 0;
  padding: 0;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  color: rgb(151, 0, 45);
}


.my-account {
  float: right;
  margin-left: 25px;
  color: rgb(255, 255, 255);
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.topics {
  float: right;
  margin-left: 25px;
  color: rgb(255, 255, 255);
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.articles {
  float: right;
  margin-left: 25px;
  color: rgb(255, 255, 255);
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}
